<div class="pt-5" style="position: relative; top: 30px; font: italic small-caps bold 20px/2 cursive; " >
	<div class="jumbotron text-center">
	  <h1 class="display-3" style="font-size: 120px;">ДЯКУЄМО ЗА ПОКУПКУ!</h1>
	  <p class="lead" style="font-size: 60px;"><strong>Перевірте ваш імейл</strong> для того щоб дізнатися як завершити покупку. Гарного дня!.</p>
	  <hr>
	  <p class="lead">
	    <a class="btn btn-outline-dark btn-sm" href="/" role="button" style="font-size: 70px;">Перейти на головну сторінку</a>
	  </p>
	</div>
</div>